*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block !important;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/* nav part start */
.menu_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
}
.menu_bg ul li a{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    color: #333333 !important;
    padding: 16px 29px !important;
    align-items: center !important;
}
.menu_bg ul li:last-child a{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    color: #FFFFFF !important;
    padding: 16px 48px !important;
    background-color: #7C4EE4;
    border-radius: 8px;
}
/* nav part end */

/* Blog part start */
#Blog{
    padding-top: 120px;
    padding-bottom: 131px;
}
.Blog_head h3{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    color: #666666;
    padding-bottom: 25px;
}
.Blog_head h2{
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: none;
    color: #333333;
    padding-bottom: 25px;
}
.Blog_head p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: #666666;
    padding-bottom: 80px;
}

.tran{
   margin-top: 50px;
   border: none;
}
.tran img{
    width: 100%;
}
.tran-body{
    padding-left: 0;
}
.tran-body h5{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    color: #999999;
    padding-top: 42px;
    padding-bottom: 14px; 
}
.tran-body h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    color: #333333;
    padding-bottom: 7px; 
}
.tran-body p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #666666;
    padding-bottom: 35px;
}
.tran-body a{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #7C4EE4;
    padding-bottom: 19px; 
}
.laptop{
   margin-top: 50px;
   border: none;
}
.laptop img{
    width: 100%;
}
.laptop-body{
    padding-left: 0;
}
.laptop-body h5{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    color: #999999;
    padding-top: 42px;
    padding-bottom: 14px; 
}
.laptop-body h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    color: #333333;
    padding-bottom: 7px; 
}
.laptop-body p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #666666;
    padding-bottom: 35px;
}
.laptop-body a{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #7C4EE4;
    padding-bottom: 19px; 
}

.jashim{
   margin-top: 50px;
   border: none;
}
.jashim img{
    width: 100%;
}
.jashim-body{
    padding-left: 0;
}
.jashim-body h5{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    color: #999999;
    padding-top: 42px;
    padding-bottom: 14px; 
}
.jashim-body h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    color: #333333;
    padding-bottom: 7px; 
}
.jashim-body p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #666666;
    padding-bottom: 19px;
}
.jashim-body a{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #7C4EE4;
    padding-bottom: 19px; 
}

.singer{
    margin-top: 50px;
   border: none;
}
.singer img{
    width: 100%;
}
.singer-body{
    padding-left: 0;
}
.singer-body h5{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    color: #999999;
    padding-top: 42px;
    padding-bottom: 21px; 
}
.singer-body h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    color: #333333;
    padding-bottom: 14px; 
}
.singer-body p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #666666;
    padding-bottom: 30px;
}
.singer-body a{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #7C4EE4;
    padding-bottom: 19px; 
}
.man{
    margin-top: 50px;
   border: none;
}
.man img{
    width: 100%;
}
.man-body{
    padding-left: 0;
}
.man-body h5{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    color: #999999;
    padding-top: 42px;
    padding-bottom: 21px; 
}
.man-body h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    color: #333333;
    padding-bottom: 14px; 
}
.man-body p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #666666;
    padding-bottom: 30px;
}
.man-body a{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #7C4EE4;
    padding-bottom: 19px; 
}

.Airplane{
    margin-top: 50px;
    border: none;
}
.Airplane img{
     width: 100%;
}
.Airplane-body{
     padding-left: 0;
}
.Airplane-body h5{
     font-family: "Roboto", sans-serif;
     font-size: 12px;
     font-weight: 500;
     text-transform: none;
     color: #999999;
     padding-top: 42px;
     padding-bottom: 21px; 
}
.Airplane-body h2{
     font-family: "Roboto", sans-serif;
     font-size: 24px;
     font-weight: bold;
     text-transform: none;
     color: #333333;
     padding-bottom: 14px; 
}
.Airplane-body p{
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight: bold;
     text-transform: none;
     color: #666666;
     padding-bottom: 32px;
}
.Airplane-body a{
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight: bold;
     text-transform: none;
     color: #7C4EE4;
     padding-bottom: 19px; 
}

.compucter{
    margin-top: 50px;
    border: none;
}
.compucter img{
     width: 100%;
}
.compucter-body{
     padding-left: 0;
}
.compucter-body h5{
     font-family: "Roboto", sans-serif;
     font-size: 12px;
     font-weight: 500;
     text-transform: none;
     color: #999999;
     padding-top: 42px;
     padding-bottom: 21px; 
}
.compucter-body h2{
     font-family: "Roboto", sans-serif;
     font-size: 24px;
     font-weight: bold;
     text-transform: none;
     color: #333333;
     padding-bottom: 14px; 
}
.compucter-body p{
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight: bold;
     text-transform: none;
     color: #666666;
     padding-bottom: 32px;
}
.compucter-body a{
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight: bold;
     text-transform: none;
     color: #7C4EE4;
     padding-bottom: 19px; 
}

/* Get part start */
#Get{
    padding-top: 127px;
    padding-bottom: 132px;
    background-color: #7C4EE4;
}
.Get_text h2{
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: bold;
    text-transform: none;
    color: #FFFFFF;
    padding-bottom: 44px;
}
.from input{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
   
}
.from a{
    padding: 16px 32px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
    margin-left: 10px;
}
.Get_text p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: #BBBBBB;
    padding-top: 24px;
    padding-left: 120px;
    padding-right: 120px;
}
/* Get part end */


/* footer part start */
#footer{
    padding: 48px;
}
.menu a{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: #150E06;
    padding-top: 40px;
    padding-bottom: 40px;
}
.icon a{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #7C4EE4;
    padding: 15px;
    border-radius: 100px;
    
}
/* footer part end */


/* Copyright part start */
#Copyright{
    padding-top: 40px;
    padding-bottom: 54px;
}
.Copyright_txt h2{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: #150E06;
}
/* Copyright part end */