@media(max-width:575px){
    .banner_text h1{
        padding-top: 0px;
        text-align: center;
    }
    .banner_text p{
        padding-bottom: 26px;
        text-align: center;
        margin-left: 100px;
    }
    .banner_text a{
       margin-left: 168px;
    }
    .ban_img img{
        padding-top: 40px;
        width: 100%;
    }
}
@media(min-width:576px) and (max-width:767px){
.banner_text h1{
    padding-top: 0px;
}
.ban_img img{
    padding-top: 40px;
    width: 100%;
}
.banner_text p{
    padding-bottom: 26px;
}
}
@media(min-width:768px) and (max-width:991px){
.banner_text h1{
    padding-top: 0px;
}
.banner_text p{
    padding-bottom: 43px;
}
.ban_img {
    margin-top: 50px;
}
}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:1200px) and (max-width:1399px){
.banner_text h1{
    padding-top: 0px;
}
.banner_text p{
    padding-bottom: 26px;
}
.ban_img img{
    padding-top: 15px;
}
}
@media(min-width:1400px){

}